<footer class='footer' >
  <div class='footer_inner wrap pale' style="align-items: center;">
 
      <img src='{{ absURL "icons/apple-touch-icon.png" }}' class='icon icon_2 transparent'>
      <p>{{ i18n "copyleft" }}
        <svg  id="licenceCC" style="height: 4rem; width:7rem">
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" ></a>
          <use xlink:href="#icon-a6af386e" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        &nbsp;<span class='year'>{{ now.Format "2006"}}</span>&nbsp;{{ .Site.Title | upper }}</p>
      {{- partial "top" .}}

  </div>
</footer>