<svg width="0" height="0" class="hidden">
  <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="facebook">
    <path d="M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h151V331h-60v-90h60v-61c0-49.629 40.371-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zm0 0"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.001 18.001" id="twitter">
    <path d="M15.891 4.013c.808-.496 1.343-1.173 1.605-2.034a8.68 8.68 0 0 1-2.351.861c-.703-.756-1.593-1.14-2.66-1.14-1.043 0-1.924.366-2.643 1.078a3.56 3.56 0 0 0-1.076 2.605c0 .309.039.585.117.819-3.076-.105-5.622-1.381-7.628-3.837-.34.601-.51 1.213-.51 1.846 0 1.301.549 2.332 1.645 3.089-.625-.053-1.176-.211-1.645-.47 0 .929.273 1.705.82 2.388a3.623 3.623 0 0 0 2.115 1.291c-.312.08-.641.118-.979.118-.312 0-.533-.026-.664-.083.23.757.664 1.371 1.291 1.841a3.652 3.652 0 0 0 2.152.743C4.148 14.173 2.625 14.69.902 14.69c-.422 0-.721-.006-.902-.038 1.697 1.102 3.586 1.649 5.676 1.649 2.139 0 4.029-.542 5.674-1.626 1.645-1.078 2.859-2.408 3.639-3.974a10.77 10.77 0 0 0 1.172-4.892v-.468a7.788 7.788 0 0 0 1.84-1.921 8.142 8.142 0 0 1-2.11.593z"
      ></path>
  </symbol>
  <symbol aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="mail">
    <path  d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="calendar">
    <path d="M452 40h-24V0h-40v40H124V0H84v40H60C26.916 40 0 66.916 0 100v352c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60V100c0-33.084-26.916-60-60-60zm20 412c0 11.028-8.972 20-20 20H60c-11.028 0-20-8.972-20-20V188h432v264zm0-304H40v-48c0-11.028 8.972-20 20-20h24v40h40V80h264v40h40V80h24c11.028 0 20 8.972 20 20v48z"></path>
    <path d="M76 230h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 310h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 390h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80-80h40v40h-40z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="github">
    <path d="M255.968 5.329C114.624 5.329 0 120.401 0 262.353c0 113.536 73.344 209.856 175.104 243.872 12.8 2.368 17.472-5.568 17.472-12.384 0-6.112-.224-22.272-.352-43.712-71.2 15.52-86.24-34.464-86.24-34.464-11.616-29.696-28.416-37.6-28.416-37.6-23.264-15.936 1.728-15.616 1.728-15.616 25.696 1.824 39.2 26.496 39.2 26.496 22.848 39.264 59.936 27.936 74.528 21.344 2.304-16.608 8.928-27.936 16.256-34.368-56.832-6.496-116.608-28.544-116.608-127.008 0-28.064 9.984-51.008 26.368-68.992-2.656-6.496-11.424-32.64 2.496-68 0 0 21.504-6.912 70.4 26.336 20.416-5.696 42.304-8.544 64.096-8.64 21.728.128 43.648 2.944 64.096 8.672 48.864-33.248 70.336-26.336 70.336-26.336 13.952 35.392 5.184 61.504 2.56 68 16.416 17.984 26.304 40.928 26.304 68.992 0 98.72-59.84 120.448-116.864 126.816 9.184 7.936 17.376 23.616 17.376 47.584 0 34.368-.32 62.08-.32 70.496 0 6.88 4.608 14.88 17.6 12.352C438.72 472.145 512 375.857 512 262.353 512 120.401 397.376 5.329 255.968 5.329z"></path>
  </symbol>
  <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="rss">
    <circle cx="3.429" cy="20.571" r="3.429"></circle>
    <path d="M11.429 24h4.57C15.999 15.179 8.821 8.001 0 8v4.572c6.302.001 11.429 5.126 11.429 11.428z"></path>
    <path d="M24 24C24 10.766 13.234 0 0 0v4.571c10.714 0 19.43 8.714 19.43 19.429z"></path>
  </symbol>
  <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="linkedin">
    <path d="M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h362c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zM181 406h-60V196h60zm0-240h-60v-60h60zm210 240h-60V286c0-16.54-13.46-30-30-30s-30 13.46-30 30v120h-60V196h60v11.309C286.719 202.422 296.93 196 316 196c40.691.043 75 36.547 75 79.688zm0 0"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" id="arrow">
    <path d="M604.501 440.509L325.398 134.956c-5.331-5.357-12.423-7.627-19.386-7.27-6.989-.357-14.056 1.913-19.387 7.27L7.499 440.509c-9.999 10.024-9.999 26.298 0 36.323s26.223 10.024 36.222 0l262.293-287.164L568.28 476.832c9.999 10.024 26.222 10.024 36.221 0 9.999-10.023 9.999-26.298 0-36.323z"></path>
  </symbol>
  <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="carly">
    <path d="M504.971 239.029L448 182.059V84c0-46.317-37.682-84-84-84h-44c-13.255 0-24 10.745-24 24s10.745 24 24 24h44c19.851 0 36 16.149 36 36v108c0 6.365 2.529 12.47 7.029 16.971L454.059 256l-47.029 47.029A24.002 24.002 0 0 0 400 320v108c0 19.851-16.149 36-36 36h-44c-13.255 0-24 10.745-24 24s10.745 24 24 24h44c46.318 0 84-37.683 84-84v-98.059l56.971-56.971c9.372-9.372 9.372-24.568 0-33.941zM112 192V84c0-19.851 16.149-36 36-36h44c13.255 0 24-10.745 24-24S205.255 0 192 0h-44c-46.318 0-84 37.683-84 84v98.059l-56.971 56.97c-9.373 9.373-9.373 24.568 0 33.941L64 329.941V428c0 46.317 37.682 84 84 84h44c13.255 0 24-10.745 24-24s-10.745-24-24-24h-44c-19.851 0-36-16.149-36-36V320c0-6.365-2.529-12.47-7.029-16.971L57.941 256l47.029-47.029A24.002 24.002 0 0 0 112 192z"></path>
  </symbol>
  <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="copy">
    <path d="M23 2.75A2.75 2.75 0 0 0 20.25 0H8.75A2.75 2.75 0 0 0 6 2.75v13.5A2.75 2.75 0 0 0 8.75 19h11.5A2.75 2.75 0 0 0 23 16.25zM18.25 14.5h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5zm0-3h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5zm0-3h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5z"></path>
    <path d="M8.75 20.5a4.255 4.255 0 0 1-4.25-4.25V2.75c0-.086.02-.166.025-.25H3.75A2.752 2.752 0 0 0 1 5.25v16A2.752 2.752 0 0 0 3.75 24h12a2.752 2.752 0 0 0 2.75-2.75v-.75z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" id="closeme">
    <path d="M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285a19.938 19.938 0 0 0 14.143 5.857 19.94 19.94 0 0 0 14.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="open-menu">
    <path d="M492 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0-160H20C8.954 76 0 84.954 0 96s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0 320H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="instagram">
    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id=youtube>
    <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/>
  </symbol>
    <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="facebook">
        <path d="M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h151V331h-60v-90h60v-61c0-49.629 40.371-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.001 18.001" id="twitter">
        <path d="M15.891 4.013c.808-.496 1.343-1.173 1.605-2.034a8.68 8.68 0 0 1-2.351.861c-.703-.756-1.593-1.14-2.66-1.14-1.043 0-1.924.366-2.643 1.078a3.56 3.56 0 0 0-1.076 2.605c0 .309.039.585.117.819-3.076-.105-5.622-1.381-7.628-3.837-.34.601-.51 1.213-.51 1.846 0 1.301.549 2.332 1.645 3.089-.625-.053-1.176-.211-1.645-.47 0 .929.273 1.705.82 2.388a3.623 3.623 0 0 0 2.115 1.291c-.312.08-.641.118-.979.118-.312 0-.533-.026-.664-.083.23.757.664 1.371 1.291 1.841a3.652 3.652 0 0 0 2.152.743C4.148 14.173 2.625 14.69.902 14.69c-.422 0-.721-.006-.902-.038 1.697 1.102 3.586 1.649 5.676 1.649 2.139 0 4.029-.542 5.674-1.626 1.645-1.078 2.859-2.408 3.639-3.974a10.77 10.77 0 0 0 1.172-4.892v-.468a7.788 7.788 0 0 0 1.84-1.921 8.142 8.142 0 0 1-2.11.593z"></path>
    </symbol>
    <symbol aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="mail">
        <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="calendar">
        <path d="M452 40h-24V0h-40v40H124V0H84v40H60C26.916 40 0 66.916 0 100v352c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60V100c0-33.084-26.916-60-60-60zm20 412c0 11.028-8.972 20-20 20H60c-11.028 0-20-8.972-20-20V188h432v264zm0-304H40v-48c0-11.028 8.972-20 20-20h24v40h40V80h264v40h40V80h24c11.028 0 20 8.972 20 20v48z"></path>
        <path d="M76 230h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 310h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 390h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80-80h40v40h-40z"></path>
    </symbol>
    <symbol viewBox="-21 0 512 512" xmlns="http://www.w3.org/2000/svg" id="yank">
        <path d="M410.668 405.332H165.332c-32.363 0-58.664-26.3-58.664-58.664v-288c0-32.363 26.3-58.668 58.664-58.668h181.504c21.059 0 41.687 8.535 56.555 23.445l42.496 42.496c15.125 15.125 23.445 35.223 23.445 56.575v224.152c0 32.363-26.3 58.664-58.664 58.664zM165.332 32c-14.7 0-26.664 11.969-26.664 26.668v288c0 14.7 11.965 26.664 26.664 26.664h245.336c14.7 0 26.664-11.965 26.664-26.664V122.516c0-12.82-4.992-24.871-14.059-33.942l-42.496-42.496C371.84 37.121 359.488 32 346.836 32zm0 0"></path>
        <path d="M314.668 512h-256C26.305 512 0 485.695 0 453.332V112c0-32.363 26.305-58.668 58.668-58.668h10.664c8.832 0 16 7.168 16 16s-7.168 16-16 16H58.668C43.968 85.332 32 97.301 32 112v341.332C32 468.032 43.969 480 58.668 480h256c14.7 0 26.664-11.969 26.664-26.668v-10.664c0-8.832 7.168-16 16-16s16 7.168 16 16v10.664c0 32.363-26.3 58.668-58.664 58.668zM368 181.332H208c-8.832 0-16-7.168-16-16s7.168-16 16-16h160c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"></path>
        <path d="M368 245.332H208c-8.832 0-16-7.168-16-16s7.168-16 16-16h160c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 64H208c-8.832 0-16-7.168-16-16s7.168-16 16-16h160c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="github">
        <path d="M255.968 5.329C114.624 5.329 0 120.401 0 262.353c0 113.536 73.344 209.856 175.104 243.872 12.8 2.368 17.472-5.568 17.472-12.384 0-6.112-.224-22.272-.352-43.712-71.2 15.52-86.24-34.464-86.24-34.464-11.616-29.696-28.416-37.6-28.416-37.6-23.264-15.936 1.728-15.616 1.728-15.616 25.696 1.824 39.2 26.496 39.2 26.496 22.848 39.264 59.936 27.936 74.528 21.344 2.304-16.608 8.928-27.936 16.256-34.368-56.832-6.496-116.608-28.544-116.608-127.008 0-28.064 9.984-51.008 26.368-68.992-2.656-6.496-11.424-32.64 2.496-68 0 0 21.504-6.912 70.4 26.336 20.416-5.696 42.304-8.544 64.096-8.64 21.728.128 43.648 2.944 64.096 8.672 48.864-33.248 70.336-26.336 70.336-26.336 13.952 35.392 5.184 61.504 2.56 68 16.416 17.984 26.304 40.928 26.304 68.992 0 98.72-59.84 120.448-116.864 126.816 9.184 7.936 17.376 23.616 17.376 47.584 0 34.368-.32 62.08-.32 70.496 0 6.88 4.608 14.88 17.6 12.352C438.72 472.145 512 375.857 512 262.353 512 120.401 397.376 5.329 255.968 5.329z"></path>
    </symbol>
    <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="rss">
        <circle cx="3.429" cy="20.571" r="3.429"></circle>
        <path d="M11.429 24h4.57C15.999 15.179 8.821 8.001 0 8v4.572c6.302.001 11.429 5.126 11.429 11.428z"></path>
        <path d="M24 24C24 10.766 13.234 0 0 0v4.571c10.714 0 19.43 8.714 19.43 19.429z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="linkedin">
        <path d="M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h362c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zM181 406h-60V196h60zm0-240h-60v-60h60zm210 240h-60V286c0-16.54-13.46-30-30-30s-30 13.46-30 30v120h-60V196h60v11.309C286.719 202.422 296.93 196 316 196c40.691.043 75 36.547 75 79.688zm0 0"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" id="arrow">
        <path d="M604.501 440.509L325.398 134.956c-5.331-5.357-12.423-7.627-19.386-7.27-6.989-.357-14.056 1.913-19.387 7.27L7.499 440.509c-9.999 10.024-9.999 26.298 0 36.323s26.223 10.024 36.222 0l262.293-287.164L568.28 476.832c9.999 10.024 26.222 10.024 36.221 0 9.999-10.023 9.999-26.298 0-36.323z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="carly">
        <path d="M504.971 239.029L448 182.059V84c0-46.317-37.682-84-84-84h-44c-13.255 0-24 10.745-24 24s10.745 24 24 24h44c19.851 0 36 16.149 36 36v108c0 6.365 2.529 12.47 7.029 16.971L454.059 256l-47.029 47.029A24.002 24.002 0 0 0 400 320v108c0 19.851-16.149 36-36 36h-44c-13.255 0-24 10.745-24 24s10.745 24 24 24h44c46.318 0 84-37.683 84-84v-98.059l56.971-56.971c9.372-9.372 9.372-24.568 0-33.941zM112 192V84c0-19.851 16.149-36 36-36h44c13.255 0 24-10.745 24-24S205.255 0 192 0h-44c-46.318 0-84 37.683-84 84v98.059l-56.971 56.97c-9.373 9.373-9.373 24.568 0 33.941L64 329.941V428c0 46.317 37.682 84 84 84h44c13.255 0 24-10.745 24-24s-10.745-24-24-24h-44c-19.851 0-36-16.149-36-36V320c0-6.365-2.529-12.47-7.029-16.971L57.941 256l47.029-47.029A24.002 24.002 0 0 0 112 192z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="copy">
        <path d="M366.345 406.069H66.207c-9.751 0-17.655-7.904-17.655-17.655V17.655C48.552 7.904 56.456 0 66.207 0h300.138C376.096 0 384 7.904 384 17.655v370.759c0 9.751-7.904 17.655-17.655 17.655z" fill="#f1f4fb"></path>
        <path d="M384 388.414v-76.992c-.907.322-1.869.494-2.751.882-6.307-6.593-14.733-11.025-24.111-11.964a40.49 40.49 0 0 0-8.448.039v-92.93c0-21.903-17.82-39.723-39.723-39.724a40.5 40.5 0 0 0-4.036.202c-20.012 2.004-35.689 19.916-35.689 40.781v101.773l-21.581 21.581c-15.241 15.241-21.393 36.866-16.456 57.847l3.802 16.16h131.338c9.75 0 17.655-7.905 17.655-17.655z" fill="#d5dced"></path>
        <circle cx="128" cy="105.931" r="26.483" fill="#b4e66e"></circle>
        <circle cx="128" cy="203.034" r="26.483" fill="#dae169"></circle>
        <circle cx="128" cy="300.138" r="26.483" fill="#ffdc64"></circle>
        <path d="M331.034 229.517H189.793c-4.879 0-8.828-3.953-8.828-8.828s3.948-8.828 8.828-8.828h141.241c4.879 0 8.828 3.953 8.828 8.828s-3.948 8.828-8.828 8.828z" fill="#7f8499"></path>
        <path d="M295.724 194.207H189.793a8.826 8.826 0 0 1-8.828-8.828 8.826 8.826 0 0 1 8.828-8.828h105.931a8.826 8.826 0 0 1 8.828 8.828 8.826 8.826 0 0 1-8.828 8.828z" fill="#5b5d6e"></path>
        <path d="M331.034 326.621H189.793c-4.879 0-8.828-3.953-8.828-8.828s3.948-8.828 8.828-8.828h141.241c4.879 0 8.828 3.953 8.828 8.828s-3.948 8.828-8.828 8.828z" fill="#7f8499"></path>
        <path d="M295.724 291.31H189.793c-4.879 0-8.828-3.953-8.828-8.828s3.948-8.828 8.828-8.828h105.931c4.879 0 8.828 3.953 8.828 8.828s-3.948 8.828-8.828 8.828z" fill="#5b5d6e"></path>
        <path d="M331.034 132.414H189.793a8.826 8.826 0 0 1-8.828-8.828 8.826 8.826 0 0 1 8.828-8.828h141.241a8.826 8.826 0 0 1 8.828 8.828 8.826 8.826 0 0 1-8.828 8.828z" fill="#7f8499"></path>
        <path d="M295.724 97.103H189.793a8.826 8.826 0 0 1-8.828-8.828 8.826 8.826 0 0 1 8.828-8.828h105.931a8.826 8.826 0 0 1 8.828 8.828 8.825 8.825 0 0 1-8.828 8.828z" fill="#5b5d6e"></path>
        <path d="M443.656 335.563c-13.21-1.323-24.345 9.015-24.345 21.954v-7.569c0-11.544-8.306-22.063-19.794-23.213-13.209-1.323-24.344 9.015-24.344 21.954v-7.569c0-11.544-8.306-22.063-19.794-23.213-13.209-1.323-24.344 9.015-24.344 21.954V207.448c0-12.939-11.135-23.277-24.345-21.954-11.486 1.15-19.793 11.669-19.793 23.213v109.086l-26.752 26.752a44.14 44.14 0 0 0-11.754 41.32l18.47 78.495c6.567 27.913 31.475 47.64 60.15 47.64h74.645c34.127 0 61.793-27.666 61.793-61.793v-91.431c-.001-11.544-8.306-22.063-19.793-23.213z" fill="#f0c087"></path>
        <path d="M339.862 361.377a8.829 8.829 0 0 0 8.828-8.828v-34.194c-10.052 2.061-17.655 10.844-17.655 21.506v12.687a8.827 8.827 0 0 0 8.827 8.829zM384 370.205a8.829 8.829 0 0 0 8.828-8.828v-34.194c-10.052 2.061-17.655 10.844-17.655 21.506v12.687a8.827 8.827 0 0 0 8.827 8.829zm44.138 8.827a8.829 8.829 0 0 0 8.828-8.828V336.01c-10.052 2.061-17.655 10.844-17.655 21.506v12.687a8.827 8.827 0 0 0 8.827 8.829zM288.885 464.36l-20.467-86.985a28.482 28.482 0 0 1 7.585-26.663l10.893-10.894v22.113a8.829 8.829 0 0 0 17.656 0V185.933c-10.344 2.173-17.655 11.972-17.655 22.773v109.087l-26.752 26.752a44.14 44.14 0 0 0-11.754 41.32l18.47 78.495c6.567 27.913 31.475 47.64 60.15 47.64h22.026c-28.677 0-53.584-19.727-60.152-47.64z" fill="#e6af78"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" id="closeme">
        <path d="M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285a19.938 19.938 0 0 0 14.143 5.857 19.94 19.94 0 0 0 14.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="open-menu">
        <path d="M492 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0-160H20C8.954 76 0 84.954 0 96s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0 320H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="instagram">
        <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="youtube">
        <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/>
    </symbol>
    <symbol id="gitlab" viewBox="0 0 512 512" id=".9150313221783657" xmlns="http://www.w3.org/2000/svg">
        <path d="M124.887 54.932c-2.785-7.996-14.104-7.996-16.979 0L57.152 211.965h118.583c-.09 0-50.848-157.033-50.848-157.033zM31.188 291.02c-2.336 7.188.271 15.183 6.379 19.765L260.27 476.081 57.061 211.965zm144.457-79.055L260.36 476.08l84.715-264.115zm313.883 79.055l-25.872-79.055L260.36 476.08l222.703-165.296c6.196-4.582 8.712-12.577 6.465-19.764zM412.81 54.932c-2.785-7.996-14.104-7.996-16.979 0l-50.848 157.033h118.584z"/>
        <path d="M218.666 342.62l-41.198-128.491 82.34-.569c45.288-.312 82.603-.306 82.924.015.625.625-80.93 255.597-82.144 256.81-.398.399-19.263-57.096-41.922-127.766zM59.444 209.609c0-1.952 47.427-148.862 49.843-154.395 2.323-5.319 9.08-6.487 12.553-2.17 1.2 1.492 12.598 34.929 25.329 74.305 12.73 39.376 24.021 74.278 25.09 77.56l1.942 5.966h-57.378c-31.559 0-57.379-.57-57.379-1.266zM371.854 132.307c14.119-43.582 26.9-79.48 28.701-80.616 7.621-4.808 10.067.517 33.948 73.913 13.125 40.336 24.517 76.023 25.315 79.304l1.452 5.967H346.401zM272.416 462.907c2.188-5.44 189.695-246.958 190.84-245.812.754.755 7.062 18.65 14.018 39.768 10.533 31.979 12.29 39.411 10.51 44.472-1.592 4.525-28.99 26.112-107.307 84.544-57.842 43.158-105.982 78.549-106.976 78.647-.995.099-1.483-.63-1.085-1.619zM142.97 387.68c-58.468-43.336-107.725-81.23-109.46-84.211-2.922-5.02-2.203-8.392 9.762-45.737 7.105-22.174 13.712-40.372 14.684-40.44 1.87-.13 193.107 247.448 191.979 248.54-.363.351-48.498-34.817-106.966-78.152z" fill="#fff"/>
    </symbol>
    <symbol id="mail" viewBox="0 0 1000 1000" id=".7058262361142975" xmlns="http://www.w3.org/2000/svg">
        <path d="M100.12 157.79c-14.46 3.84-40 17.4-38.64 20.34.45 1.13 100.11 97.4 221.46 214.01L503.5 603.88l21.47-21.24c11.75-11.52 110.06-106.89 218.08-211.74 108.25-104.86 196.6-191.64 196.6-192.77 0-1.13-6.1-5.42-13.56-9.49-28.02-15.37.22-14.46-427.11-14.24-333.1 0-388.23.46-398.86 3.39zM10.86 267.4c-.68 9.27-1.13 120.9-.68 248.36.9 231.86 1.13 243.84 8.36 251.52 1.81 1.81 263.04-255.59 261.92-258.3-.45-.9-55.59-54.24-122.71-118.64S30.52 268.3 23.97 261.97L12.44 250.9l-1.58 16.5zM892.2 345.36C840 395.98 780.11 454.06 759.32 474.4l-37.96 37.28 42.48 44.29c77.74 80.9 183.95 187.57 199.77 200.67 9.04 7.23 16.5 11.98 17.63 10.85 7.46-8.13 7.91-20.56 8.59-255.13.45-128.13 0-238.64-.91-245.87l-1.8-13.11-94.92 91.98z"/>
        <path d="M209.73 701.51L77.07 833.03l8.81 3.84c20.79 8.81 21.92 8.81 414.23 8.81 392.08 0 393.44 0 414-8.81l8.81-3.62-11.98-9.04c-15.14-11.3-126.78-122.71-196.15-195.48-28.93-30.51-53.33-55.59-54.46-56.04-.91-.45-30.96 27.57-66.44 62.15-36.84 35.93-68.25 64.41-72.99 66.67-10.62 4.97-24.18 4.97-34.8 0-4.74-2.04-37.74-32.09-74.35-67.12-36.16-34.8-66.67-63.5-67.57-63.95-.9-.45-61.46 58.53-134.45 131.07z"/>
        <path d="M445.763 546.264c-29.132-28.65-127.139-123.468-217.794-210.706L63.141 176.944l20.76-9.65 20.76-9.649 400.424 1.05c374.407.983 401.318 1.54 414.195 8.575 7.574 4.138 13.77 9.27 13.77 11.406 0 4.92-422.918 417.131-429.468 418.595-2.67.596-28.688-22.357-57.82-51.007z" fill="#fff"/>
        <path d="M123.729 841.333c-8.157-.873-21.347-2.667-29.31-3.988l-14.48-2.402 128.86-128.912c70.874-70.902 131.274-128.912 134.224-128.912 2.95 0 33.03 26.218 66.848 58.262 70.974 67.255 84.219 76.01 104.645 69.178 8.262-2.763 40.2-29.69 78.952-66.563l65.078-61.923 128.115 126.582c70.464 69.62 128.414 127.808 128.778 129.307.365 1.498-2.674 4.344-6.753 6.324-7.083 3.438-754.177 6.338-784.957 3.047zM848.402 638.102L723.498 512.543 844.164 394.39c66.367-64.985 125.91-122.09 132.32-126.9l11.652-8.745-.03 223.805c-.031 229.42-1.887 280.971-10.117 281.06-2.576.03-60.89-56.45-129.587-125.508zM16.234 754.039c-1.408-5.251-2.585-119.89-2.617-254.755l-.058-245.208 102.174 99.022c56.196 54.461 115.783 111.748 132.416 127.304l30.24 28.283-76.27 76.876c-41.95 42.282-100.359 99.635-129.8 127.45-48.441 45.77-53.77 49.668-56.085 41.028z" fill="#fff"/>
    </symbol>
    <symbol id="icon-a6af386e" viewBox="0 0 120 42" id=".4530720426473873" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.408.453l113.354.201c1.584 0 3-.235 3 3.16l-.14 37.33H.547V3.676C.547 2 .71.453 3.408.453z" fill="#aab2ab"/>
        <path d="M117.753 0H2.248A2.25 2.25 0 0 0 0 2.247v39.246c0 .28.227.507.508.507h118.984c.28 0 .508-.227.508-.507V2.247A2.25 2.25 0 0 0 117.753 0zM2.248 1.015h115.505c.68 0 1.232.553 1.232 1.232v27.22H36.428c-3.026 5.472-8.856 9.186-15.547 9.186-6.692 0-12.521-3.711-15.545-9.185h-4.32V2.247c0-.68.552-1.232 1.232-1.232z"/>
        <path d="M34.522 19.551c.005 7.53-6.096 13.637-13.626 13.642-7.53.005-13.639-6.096-13.644-13.625v-.017C7.248 12.021 13.35 5.914 20.88 5.91c7.531-.005 13.64 6.096 13.643 13.625v.016z" fill="#fff"/>
        <path d="M31.972 8.447c3.023 3.023 4.535 6.725 4.535 11.104 0 4.38-1.486 8.043-4.458 10.988-3.154 3.102-6.88 4.653-11.182 4.653-4.248 0-7.911-1.538-10.986-4.614-3.076-3.075-4.613-6.75-4.613-11.027 0-4.275 1.537-7.976 4.613-11.104 2.997-3.024 6.66-4.536 10.986-4.536 4.38 0 8.08 1.512 11.105 4.536zM11.917 10.48c-2.557 2.581-3.835 5.605-3.835 9.074 0 3.469 1.266 6.467 3.795 8.996 2.53 2.53 5.542 3.795 9.037 3.795 3.495 0 6.532-1.278 9.115-3.833 2.451-2.374 3.677-5.359 3.677-8.958 0-3.571-1.246-6.603-3.737-9.094-2.49-2.49-5.509-3.735-9.055-3.735-3.546 0-6.547 1.252-8.997 3.755zm6.726 7.549c-.39-.852-.974-1.278-1.755-1.278-1.378 0-2.067.928-2.067 2.784 0 1.856.69 2.783 2.067 2.783.91 0 1.56-.452 1.951-1.357l1.91 1.017c-.91 1.618-2.277 2.428-4.098 2.428-1.406 0-2.531-.43-3.377-1.292-.846-.862-1.27-2.05-1.27-3.564 0-1.487.438-2.668 1.31-3.543.87-.875 1.958-1.312 3.259-1.312 1.926 0 3.304.759 4.14 2.275l-2.07 1.059zm8.99 0c-.39-.852-.964-1.278-1.72-1.278-1.405 0-2.109.928-2.109 2.784 0 1.856.704 2.783 2.11 2.783.912 0 1.55-.452 1.915-1.357l1.953 1.017c-.91 1.618-2.274 2.428-4.092 2.428-1.404 0-2.526-.43-3.372-1.292-.843-.862-1.266-2.05-1.266-3.564 0-1.487.429-2.668 1.287-3.543.857-.875 1.947-1.312 3.273-1.312 1.923 0 3.3.759 4.13 2.275l-2.108 1.059z"/>
        <g transform="matrix(.99378 0 0 .99367 -437.123 -74.437)">
            <circle cx="491.946" cy="90.232" r="10.806" fill="#fff"/>
            <path d="M495.074 87.105a.754.754 0 0 0-.754-.754h-4.773a.754.754 0 0 0-.754.754v4.773h1.332v5.652h3.617v-5.652h1.332v-4.773z"/>
            <circle cx="491.934" cy="84.09" r="1.632"/>
            <path clip-rule="evenodd" d="M491.918 78.325c-3.231 0-5.967 1.128-8.207 3.384-2.297 2.333-3.446 5.096-3.446 8.285s1.149 5.931 3.446 8.227c2.298 2.294 5.035 3.442 8.207 3.442 3.213 0 5.999-1.157 8.355-3.472 2.22-2.197 3.329-4.93 3.329-8.197 0-3.268-1.129-6.03-3.388-8.285-2.258-2.256-5.023-3.384-8.296-3.384zm.03 2.1c2.65 0 4.897.934 6.747 2.801 1.87 1.847 2.805 4.104 2.805 6.768 0 2.683-.916 4.91-2.747 6.68-1.927 1.906-4.196 2.859-6.804 2.859-2.61 0-4.86-.943-6.748-2.83-1.889-1.886-2.833-4.122-2.833-6.71 0-2.586.954-4.842 2.862-6.767 1.831-1.867 4.07-2.801 6.719-2.801z" fill-rule="evenodd"/>
        </g>
        <g fill="#fff">
            <path d="M48.401 32.747c.316 0 .604.029.864.084.26.055.483.146.67.274.185.126.329.295.431.504.102.21.154.47.154.78 0 .333-.076.61-.228.833-.152.223-.377.405-.674.547.41.118.715.323.917.617.202.294.303.649.303 1.063 0 .334-.065.623-.195.867s-.306.444-.526.598c-.22.155-.47.27-.752.344a3.381 3.381 0 0 1-.87.111H45.28v-6.622h3.122zm-.186 2.679c.26 0 .473-.062.64-.186.168-.123.252-.323.252-.6a.768.768 0 0 0-.084-.38.625.625 0 0 0-.223-.232.945.945 0 0 0-.32-.115 2.167 2.167 0 0 0-.377-.032H46.74v1.545h1.476zm.085 2.81c.143 0 .279-.014.409-.042a1.04 1.04 0 0 0 .344-.139.704.704 0 0 0 .237-.265.913.913 0 0 0 .088-.426c0-.34-.096-.582-.288-.727-.192-.145-.446-.218-.762-.218h-1.59v1.817H48.3zM51.095 32.747h1.633l1.55 2.616 1.543-2.616h1.623l-2.459 4.08v2.542h-1.46v-2.578l-2.43-4.044z"/>
        </g>
        <g fill="#fff">
            <path d="M98.44 37.732c.081.155.187.28.32.376.133.096.288.167.468.213.178.047.363.07.555.07.129 0 .268-.01.416-.033.148-.021.286-.063.416-.125a.91.91 0 0 0 .325-.255.644.644 0 0 0 .129-.413.58.58 0 0 0-.172-.435 1.36 1.36 0 0 0-.448-.279 4.664 4.664 0 0 0-.63-.195 16.84 16.84 0 0 1-.714-.185 6.45 6.45 0 0 1-.723-.227 2.472 2.472 0 0 1-.63-.349 1.628 1.628 0 0 1-.448-.532 1.618 1.618 0 0 1-.172-.775c0-.34.073-.635.218-.886.145-.25.336-.459.57-.627.234-.167.5-.29.797-.37.296-.08.593-.12.89-.12.346 0 .677.038.996.116.317.077.6.203.847.375.248.174.444.395.59.664.144.27.217.596.217.98h-1.414a1.173 1.173 0 0 0-.124-.492.82.82 0 0 0-.282-.306 1.174 1.174 0 0 0-.401-.158 2.448 2.448 0 0 0-.494-.046 1.72 1.72 0 0 0-.35.037.933.933 0 0 0-.319.13.802.802 0 0 0-.235.232.63.63 0 0 0-.093.352c0 .13.025.236.074.315.05.08.147.156.292.223.146.068.346.136.602.204.256.068.592.155 1.005.26.124.025.295.07.514.135.22.065.437.168.653.31.216.143.403.334.56.571.158.238.237.543.237.914 0 .303-.06.585-.177.845-.117.26-.292.484-.524.672-.232.19-.52.336-.863.44-.342.106-.74.159-1.192.159-.364 0-.718-.046-1.061-.135a2.662 2.662 0 0 1-.909-.423 2.1 2.1 0 0 1-.627-.735c-.154-.297-.229-.649-.222-1.057h1.413c0 .222.04.411.12.565zM106.646 32.747l2.477 6.622h-1.512l-.501-1.475h-2.477l-.52 1.475h-1.465l2.504-6.622h1.494zm.084 4.06l-.835-2.427h-.02l-.861 2.427h1.716z"/>
        </g>
        <g fill="#fff">
            <path d="M72.518 32.747l2.767 4.443h.015v-4.443h1.367v6.622H75.21l-2.756-4.433h-.019v4.433H71.07v-6.622h1.449zM82.196 34.512a1.492 1.492 0 0 0-.766-.612 1.505 1.505 0 0 0-.515-.089c-.328 0-.606.063-.835.19a1.56 1.56 0 0 0-.556.51 2.232 2.232 0 0 0-.312.727 3.613 3.613 0 0 0 0 1.655c.065.263.17.5.312.71.141.21.327.378.556.505.229.127.507.19.835.19.445 0 .793-.136 1.044-.409.25-.271.403-.63.459-1.076h1.41a3.37 3.37 0 0 1-.287 1.123 2.596 2.596 0 0 1-1.503 1.394c-.34.125-.715.187-1.123.187-.507 0-.963-.088-1.369-.265a2.94 2.94 0 0 1-1.026-.728 3.232 3.232 0 0 1-.641-1.09 4.005 4.005 0 0 1-.223-1.351c0-.495.074-.954.223-1.378.148-.424.363-.794.641-1.11a2.938 2.938 0 0 1 1.026-.742c.406-.18.862-.269 1.37-.269.364 0 .709.053 1.033.159.325.104.616.258.873.46.257.2.468.45.635.747.167.297.272.637.316 1.02h-1.41a1.198 1.198 0 0 0-.167-.458z"/>
        </g>
        <path d="M114.58 14.98c.005 5.846-4.731 10.588-10.578 10.592-5.846.004-10.588-4.73-10.593-10.577v-.014c-.003-5.845 4.733-10.588 10.578-10.592 5.846-.004 10.588 4.731 10.593 10.576v.016z" fill="#fff"/>
        <path d="M103.919 3.386c-3.212 0-5.932 1.12-8.156 3.362-2.284 2.319-3.426 5.063-3.426 8.233 0 3.169 1.142 5.893 3.426 8.174 2.283 2.28 5.002 3.42 8.156 3.42 3.193 0 5.96-1.15 8.301-3.448 2.206-2.185 3.31-4.9 3.31-8.146 0-3.247-1.122-5.991-3.368-8.233-2.244-2.241-4.992-3.362-8.243-3.362zm.029 2.087c2.632 0 4.866.927 6.705 2.783 1.858 1.835 2.786 4.076 2.786 6.725 0 2.666-.909 4.879-2.729 6.639-1.914 1.893-4.17 2.84-6.762 2.84-2.593 0-4.828-.938-6.705-2.812-1.877-1.875-2.815-4.097-2.815-6.667 0-2.57.947-4.812 2.844-6.725 1.819-1.856 4.044-2.783 6.676-2.783z"/>
        <path d="M98.78 13.345c.461-2.918 2.515-4.478 5.09-4.478 3.7 0 5.957 2.686 5.957 6.268 0 3.495-2.4 6.21-6.016 6.21-2.487 0-4.714-1.53-5.12-4.535h2.922c.087 1.56 1.1 2.109 2.546 2.109 1.648 0 2.718-1.53 2.718-3.87 0-2.456-.925-3.755-2.661-3.755-1.272 0-2.371.462-2.603 2.05l.85-.005-2.3 2.3-2.299-2.3.915.006z"/>
        <g>
            <path d="M87.802 14.99c.005 5.501-4.452 9.963-9.953 9.967-5.501.004-9.963-4.452-9.967-9.952v-.014c-.004-5.501 4.452-9.963 9.953-9.967 5.5-.003 9.963 4.452 9.967 9.952v.015z" fill="#fff"/>
            <path d="M86.07 6.755c-2.244-2.242-4.992-3.363-8.243-3.363-3.212 0-5.931 1.12-8.156 3.363-2.284 2.32-3.425 5.064-3.425 8.234s1.14 5.895 3.425 8.175c2.283 2.281 5.002 3.421 8.156 3.421 3.193 0 5.96-1.15 8.302-3.45 2.206-2.184 3.31-4.9 3.31-8.146 0-3.247-1.123-5.992-3.368-8.234zm-1.45 14.873c-1.917 1.894-4.171 2.84-6.764 2.84s-4.828-.937-6.705-2.812c-1.878-1.875-2.816-4.097-2.816-6.667 0-1.087.172-2.115.511-3.084l3.073 1.36h-.222v1.378h1.088c0 .195-.02.389-.02.583v.33h-1.068v1.378h1.262c.175 1.03.563 1.864 1.087 2.524 1.088 1.437 2.835 2.214 4.737 2.214 1.243 0 2.369-.37 3.03-.739l-.467-2.154c-.408.214-1.32.504-2.213.504-.971 0-1.883-.29-2.504-.99-.292-.33-.505-.776-.64-1.359h4.22l5.997 2.655a8.947 8.947 0 0 1-1.587 2.04zm-7.543-6.072l-.026-.02.044.02h-.018zm3.61-.913h.174v-1.378h-3.287l-1.335-.59c.115-.26.25-.49.409-.671.602-.74 1.456-1.05 2.388-1.05.854 0 1.65.253 2.155.467l.543-2.214c-.7-.31-1.728-.581-2.912-.581-1.824 0-3.378.737-4.484 1.98a5.958 5.958 0 0 0-.652.938l-3.814-1.687c.37-.554.804-1.087 1.308-1.594 1.82-1.856 4.044-2.784 6.676-2.784 2.632 0 4.867.928 6.706 2.784 1.857 1.836 2.786 4.077 2.786 6.726 0 .873-.1 1.696-.295 2.472l-6.366-2.818z"/>
        </g>
    </symbol>
</svg>
